
<!-- spurit_stp-added -->
{% render 'spurit_stp-cart-snippet' %}
<!-- /spurit_stp-added -->
{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template/
{% endcomment %}

{% section 'cart-template' %}
