{% if page.metafields.header.text != blank %}
  <div class="header__overlay">
    <p>
      {{ page.metafields.header.text }}
    </p>
  </div>
{% endif %}

<div class="page-width">
  <header class="section-header text-center">
    <h1 class="section-header__title h2">{{ page.title }}</h1>
  </header>
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
