
<!-- spurit_stp-added -->
{% render 'spurit_stp-product-snippet' %}
<!-- /spurit_stp-added -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template/
{% endcomment %}

{% section 'product-template' %}
{% section 'product-recommendations' %}

<script>
  window.theme = window.theme || {};
  window.theme.strings = window.theme.strings || {};

  // Override default values of theme.strings for each template.
  // Values are used by JavaScript only; Liquid must be updated separately
  window.theme.strings.addToCart = {{ 'products.product.add_to_cart' | t | json }};
  window.theme.strings.soldOut = {{ 'products.product.sold_out' | t | json }};
  window.theme.strings.unavailable = {{ 'products.product.unavailable' | t | json }};
</script>
