{%- assign product = all_products[section.settings.featured_product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign current_variant_sale = false -%}
{% assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media %}

{%- if product == empty -%}
  {%- assign section_onboarding = true -%}
  {%- assign vendor = 'homepage.onboarding.product_vendor' | t -%}
  {%- assign title = 'homepage.onboarding.product_title' | t -%}
  {%- assign compare_at_price = 2999 -%}
  {%- assign price = 1999 -%}
{%- else -%}
  {%- assign section_onboarding = false -%}
  {%- assign vendor = product.vendor -%}
  {%- assign title = product.title -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
{%- endif -%}

<div id="FeaturedProduct-{{ section.id }}" class="featured-product" data-section-id="{{ section.id }}" data-section-type="featured-product" data-variant-id="{{ current_variant.id }}" {% if section_onboarding %}data-onboarding{% endif %}>
  <div class="featured-product__wrapper{% if section.settings.layout == 'full' %} featured-product__wrapper--full-width{% endif %}" data-media-group>

    <div class="featured-product__media-column">

      {% unless section_onboarding %}
        {%- unless product.media.size == 0 -%}
          {% assign variant_media_ids = '' %}
          <style>
            #FeaturedProduct-{{ section.id }} .product-media__image--featured-product {
              object-fit: {{ section.settings.media_size }};
              font-family: "object-fit: {{ section.settings.media_size }}";
              background-color: {{ section.settings.background_color }};
            }
          </style>

          {%- unless product.has_only_default_variant -%}
            {% for variant in product.variants %}

              {% assign variant_media = variant.featured_media %}

              {%- if variant_media -%}
                {%- if variant_media_ids contains variant_media.id -%}
                  {% continue %}
                {%- endif -%}

                {% assign variant_media_ids = variant_media_ids | append: variant_media.id | append: ' ' %}
                {% assign featured = false %}
                {%- if variant_media == featured_media -%}
                  {% assign featured = true %}
                {%- endif -%}

                {% include 'media' with variant_media, parent_fit: section.settings.media_size, product_media_wrapper_data: 'data-variant-media-toggle-hide', data_image: 'data-variant-media-image', featured_media: featured, section_type: 'featured-product' %}

              {%- endif -%}
            {% endfor %}
          {%- endunless -%}

          {%- unless featured_media and variant_media_ids contains featured_media.id -%}
            {% include 'media' with featured_media, parent_fit: section.settings.media_size, product_media_wrapper_data: 'data-variant-media-toggle-hide', data_image: 'data-variant-media-image', featured_media: true, section_type: 'featured-product' %}
          {%- endunless -%}

          {% include 'shopify-xr-button' %}
        {%- endunless -%}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endunless %}
    </div>

    <div class="featured-product__content-column">
      <div class="featured-product__content-wrapper">
        <div class="featured-product__content-header">

          {% if section.settings.show_vendor %}
            <p class="product__vendor text-small text-center" itemprop="brand">{{ vendor }}</p>
          {% endif %}

          <h2 class="product__title text-center" itemprop="name">{{ title }}</h2>

          {% if compare_at_price > price %}
            {%- assign current_variant_sale = true -%}
          {% endif %}

          <p class="product__price text-center{% if current_variant_sale %} product__price--sale{% endif %}" data-product-price aria-live="polite">
            <span class="product__sale-price-label visually-hidden"> {{ 'products.product.sale_price' | t }} </span>
            <span class="product__regular-price-label visually-hidden"> {{ 'products.product.price' | t }} </span>
            <span class="product__current-price" data-regular-price>{{ price | money }}</span>

            <span class="product__compare-price-label visually-hidden"> {{ 'products.product.regular_price' | t }} </span>
            <s class="product__compare-price" data-compare-price>{{ compare_at_price | money }}</s>

            {% include 'product-unit-price', variant: current_variant %}
          </p>

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

        </div>

        {% unless section_onboarding %}
          {% include 'product-form' %}
        {% else %}
          <button class="btn btn--to-secondary btn--full product__add-to-cart-button" data-cart-submit type="submit" name="add" disabled="true" aria-live="polite">
            <span class="primary-text" aria-hidden="false" data-cart-primary-submit-text>
              {{ 'products.product.sold_out' | t }}
            </span>
          </button>
        {% endunless %}

        <div class="featured-product__share-wrapper">
          <a class="product__more-details btn btn--secondary btn--primary-color btn--clear" {% unless section_onboarding %}href="{{ product.url }}?variant={{ current_variant.id }}"{% endunless %}>
            <span class="product__more-details-icon">{% include 'icon-details' %}</span>
            <span>{{ 'sections.featured_product.full_details' | t }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% unless section_onboarding %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>

    <script type="application/json" data-model-json="{{ section.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>

    <script type="application/json" data-variant-json>
      {{ current_variant | json }}
    </script>
  {% endunless %}
</div>
