<script>
    if(typeof(Spurit) === 'undefined'){
      Spurit = {};
    }
    if(!Spurit.tieredPricing){
        Spurit.tieredPricing = {};
    }
    if(!Spurit.tieredPricing.snippet){
        Spurit.tieredPricing.snippet = {};
    }
    Spurit.tieredPricing.snippet.appId = '44';
    Spurit.tieredPricing.snippet.shopHash = 'c8583d0ea3f73e385d738c740e94ff27';
    Spurit.tieredPricing.snippet.shopDomain = 'drvanilla.myshopify.com';
    Spurit.tieredPricing.snippet.folderStore = 'https://cdn-spurit.com/pricing-by-quantity/store';
    Spurit.tieredPricing.snippet.folderCss = 'https://cdn-spurit.com/pricing-by-quantity/css';
    Spurit.tieredPricing.snippet.moneyFormat = '{{ shop.money_format }}';

    if(typeof(Spurit.globalSnippet) === 'undefined'){
      Spurit.globalSnippet = {
        shop_currency: '{{ shop.currency }}',
        money_format: '{{ shop.money_format }}',
        cart: {{ cart | json }},
        customer_id: '{{ customer.id }}'
      };
    }
</script>
<script src="https://cdn-spurit.com/pricing-by-quantity/js/common.js"></script>