.header-wrapper {
    background: #fff !important;

    .header {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.section-header .list-social__link {
    padding: .6rem 1.6rem;
}

.title-wrapper-with-link {
    justify-content: center;
}

.underline-links-hover:hover a {
    text-decoration: none;
}

.slideshow__controls {
    background: #BAB86C;
    transform: translateY(-100%);
    z-index: 9999;
    opacity: 0.6;
}

.slider-buttons, .slider-button {
    border: 0 !important;
}

.slideshow {

    @media screen and (max-width: 749px) {
        .media > img {
            object-position: center right;
        }
    }

    .banner__content {
        padding: 0 !important;
        max-width: none !important;
    }

    .banner__box {
        @media screen and (min-width: 750px) {
            border-top-right-radius: 10rem;
        }

        &.color-background-2 {
            .banner__heading, .banner__text {
                color: #fff;
            }

            .banner__heading  {
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 30%;
                    border-top: 2px solid #FFF1CE;

                    @media screen and (max-width: 749px) {
                        left: 35%;
                    }
                }
            }

            .banner__buttons {
                .button {
                    background: #464313;
                    color: #fff;
                }
            }
        }
    }
}

.banner:not(.slideshow) {
    .banner__content {
        padding: 0 !important;
        max-width: none !important;
    }

    .banner__box {
        @media screen and (min-width: 750px) {
            transform: translateY(20%);
            border-top-right-radius: 10rem;
            border-top-left-radius: 10rem;
        }

    }
}

.image-with-text--overlap {

    @media screen and (min-width: 750px) {
        .image-with-text__media {
            border-top-left-radius: 20rem;
        }

        .image-with-text__grid--reverse {
            .image-with-text__media {
                border-top-left-radius: 0;
                border-top-right-radius: 20rem;
            }
        }
    }

    .image-with-text__content {
        margin: auto;
        padding: 3rem 1rem 3rem 3rem !important;

        @media screen and (min-width: 750px) {
            border-top-right-radius: 10rem;
            width: calc(100% + 10rem);
            min-width: calc(100% + 10rem);
            transform: translate(-10rem);
            opacity: 0.9;
        }

        .image-with-text__heading, .image-with-text__text {
            color: #fff;
        }

        .image-with-text__heading  {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 30%;
                border-top: 2px solid #FFF1CE;                
            }
        }

        .button {
            background: #464313;
            color: #fff;
            align-self: flex-end !important;
        }        
    }

    @media screen and (min-width: 750px) {
        .image-with-text__grid--reverse .image-with-text__content {
            transform: translate(13rem);
        }
    }
}

.image-with-text {
    .image-with-text__content  {
        &.color-inverse {
            border-radius: 12px;
            background: #8E8E8E;

            .image-with-text__heading, .image-with-text__text {
                color: #fff;
            }
    
            .button {
                background: #fff;
                color: #BAB86C;
            }
        }
    }

    .image-with-text__grid--reverse {
        .image-with-text__content  {
            &.color-inverse {
                background: #C4B8A2;
            }
        }
    }
}

.card .button--cart {
    background: #464313;
    color: #fff;
}


.shopify-section:not(#shopify-section-header), .image-with-text {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%; 
        height: 100%;  
        opacity: .8; 
        z-index: -1;
        background: url('https://cdn.shopify.com/s/files/1/0524/0815/6360/files/vanilla-flower.png');
        background-repeat: no-repeat;
        background-size: 20rem;
    }

    &:nth-child(even) {
        &::before {
            background-position-x: left;           
        }
    }

    &:nth-child(odd) {
        &::before {
            background-position-x: right;            
        }
    }
}

.image-with-text::before {
    background-position-x: 100% !important;
    opacity: .2 !important; 
    background-position-y: bottom;
}

.footer {
    background: #fff !important;

    .footer__content-top {
        padding-bottom: 0;
    }

    .footer__content-bottom {
        padding-top: 1rem;
    }

    @media screen and (max-width: 989px) {
        .footer__content-top {
            padding-top: 1rem;
        }

        .footer-block__details-content .list-menu__item--link {
            padding-top: 0;
        }
    }
}

.newsletter__wrapper {
    border-radius: 12px;
    transform: translateY(50px);
    z-index: 99;

    .newsletter__subheading {
        color: #fff;
        @media screen and (min-width: 750px) {
            font-size: 2.8rem;
        }
    }

    svg, .field__label {
        color: #fff;
    }
}

.color-accent-2 {
    .contact {
        .field__input {
            background: #d7f1a9;
        }

        .field {
            &::after {
                box-shadow: 0 0 0 1px #2e2a3926;
            }
        }

        .button {
            background: #464313;
            color: #fff;
        }
    }
}

.price--on-sale .price-item--regular {
    display: none;
}

.spr-container, .spr-form {
    border-color: #2e2a3914;
    border-radius: 12px;
}

.spr-icon {
    color: #464313;
}

.spr-button {
    min-height: 4rem;
}