<div id="MapSection--{{ section.id }}" class="map__embed" data-section-id="{{ section.id }}" data-section-type="map" data-bgset="{% include 'bgset', image: section.settings.background_image %}">
  {{ section.settings.map_code }}
</div>

{% schema %}
{
  "name": {
    "cs": "Mapa",
    "da": "Kort",
    "de": "Karte",
    "en": "Map",
    "es": "Mapa",
    "fi": "Kartta",
    "fr": "Carte",
    "it": "Mappa",
    "ja": "マップ",
    "ko": "지도",
    "nb": "Kart",
    "nl": "Kaart",
    "pl": "Mapa",
    "pt-BR": "Mapa",
    "pt-PT": "Mapa",
    "sv": "Karta",
    "th": "แผนที่",
    "tr": "Harita",
    "vi": "Bản đồ",
    "zh-CN": "地图",
    "zh-TW": "地圖"
  },
  "class": "index-section index-section--map",
  "settings": [
    {
      "id": "map_code",
      "type": "text",
      "label": {
        "cs": "Najít adresu na mapě",
        "da": "Kortadresse",
        "de": "Adresse",
        "en": "Map Code",
        "es": "Dirección del mapa",
        "fi": "Määritä osoite",
        "fr": "Adresse de la carte",
        "it": "Indirizzo su mappa",
        "ja": "マップアドレス",
        "ko": "지도 주소",
        "nb": "Kartadresse",
        "nl": "Adres op kaart",
        "pl": "Adres na mapie",
        "pt-BR": "Endereço no mapa",
        "pt-PT": "Endereço no mapa",
        "sv": "Kartadress",
        "th": "ที่อยู่แผนที่",
        "tr": "Adresi haritada görüntüle",
        "vi": "Địa chỉ bản đồ",
        "zh-CN": "地图地址",
        "zh-TW": "地圖地址"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Mapa",
        "da": "Kort",
        "de": "Karte",
        "en": "Map",
        "es": "Mapa",
        "fi": "Kartta",
        "fr": "Carte",
        "it": "Mappa",
        "ja": "マップ",
        "ko": "지도",
        "nb": "Kart",
        "nl": "Kaart",
        "pl": "Mapa",
        "pt-BR": "Mapa",
        "pt-PT": "Mapa",
        "sv": "Karta",
        "th": "แผนที่",
        "tr": "Harita",
        "vi": "Bản đồ",
        "zh-CN": "地图",
        "zh-TW": "地圖"
      },
      "category": {
        "cs": "Informace o obchodu",
        "da": "Butiksoplysninger",
        "de": "Laden-Info",
        "en": "Store information",
        "es": "Información sobre tu tienda",
        "fi": "Kaupan tiedot",
        "fr": "Renseignements sur votre boutique",
        "it": "Informazioni del negozio",
        "ja": "ストア情報",
        "ko": "스토어 정보",
        "nb": "Butikkinformasjon",
        "nl": "Winkelinformatie",
        "pl": "Informacje o sklepie",
        "pt-BR": "Informações sobre a loja",
        "pt-PT": "Informações da loja",
        "sv": "Butiksinformation",
        "th": "ข้อมูลร้านค้า",
        "tr": "Mağaza bilgileri",
        "vi": "Thông tin cửa hàng",
        "zh-CN": "商店信息",
        "zh-TW": "商店資訊"
      }
    }
  ]
}
{% endschema %}
